.App {
  text-align: center;
  display: flex;
  justify-content: center;
}

.container {
  width: fit-content;
  background-color: #292929;
  padding: 1rem;
  border-radius: 1rem;
}

p {
  margin: 0;
}

.container button {
  background-color: #0b835d;
  padding: 0.5rem 1rem;
  color: white;
  border: none;
  font-weight: bold;
  font-size: 1rem;
  border-radius: 5px;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.container button:hover {
  cursor: pointer;
  background-color: #0c966a;
}
